body {
	background-color:#e6e6fa;}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}



.fixed {
  color:white;
  background-color:#90ee90;
  border-style: ridge;
  position: fixed;
  bottom:250px;
  right: 200px;
  width: 250px;
  padding:5px;
}

		
section {
    float:right;
    padding:0px;	 	 
}



